# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
.DS_Store
/tmp/
.cache/


# Jupyter
.ipynb_checkpoints/

# Terraform (if added later)
*.tfstate
*.tfstate.*
.terraform/.env
.terraform/
crash.log
*.tfplan
.terraform.lock.hcl

data/vendor/
data/raw/
data/equity/
data/exploit/
data/parsed/
data/population/
data/preflop/
data/rangenet/
data/ranges/
postflop/strategy_templates/
infra
